body {
    background-color: beige;
}

.imagecontainer {
    display: flex;
    justify-content: center;
}

.images {
    margin: 150px;
}

.textcenter {
    text-align: center;
}

.heading {
    font-size: 100px;
}

.bold {
    font-weight: bold;;
}

.announce {
    font-size: 30px;
}

.fight {
    background-color: white;
    margin: 200px;
    max-height: 600px;
    margin-top: -80px;
    margin-left: 20%;
    margin-right: 20%;
    border: 4px solid;
    display: flex; 
}

.choice {
    background-color: blue;
    width: 33%
}

.choice2 {
    background-color: blue;
    width: 33%;
    margin-left: auto;
}

.vs {
    width: 50%;
}

.imagebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.result {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -80px;
    border: 4px solid;
    display: flex;
    justify-content: center;
    
}

.score {
    background-color: white;
    border: 4px solid;
    margin-top: 5%;
    margin: 5%;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.flex {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}